@media (min-width: 48rem) {

    /**** HEADER ****/

    .header-container {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    /**** NAVIGATION ****/

    #menu-button {
        display: none;
    }

    .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-links li a {
        border-top: none;
        padding: 1rem 1.5rem;
    }

    /**** FOOTER ****/

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    /**** DIRECTORY CARDS (DESKTOP) ****/

    #directory-grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

     /**** MAIN (HOME PAGE) ****/

     .home-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1.2rem;
        background-color: #f4f4f9;
     }

     .home-layout .hero {
        grid-column: 1 / -1
     }

     .home-layout .events,
     .home-layout .weather,
     .home-layout .spotlights {
        margin: 0;
     }


     
}