@media only screen and (min-width:38rem) {


header,main,nav,footer {
    max-width: 900px;
    margin: 0 auto;
}

header {
    grid-template-columns: 24px auto;
}



.hamburger {
    display: none;
    
}

.navigation {
    display: block;
    border-bottom: solid 1px #eee;
}

.navigation ul {
    display: flex;
}

.navigation a {
    border: none;
}

.course-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


main {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr; 
    gap: 1rem;
    align-items: start;
  }

  
  main > h1 {
    grid-column: 1 / -1;
  }

 
  main > section:nth-of-type(1) {
    grid-column: 1 / 2;
  }

 
  main > section:nth-of-type(2) {
    grid-column: 2 / 3;
  }

  
  #certificate-courses {
    grid-column: 1 / -1;
  }
}

@media (min-width: 55rem) {
  .course-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}










