body {
    background-color: #111111;
    color: #4CAF50;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Share Tech Mono', monospace;
    color: #E5E5E5;
    border-bottom: 1px solid #4CAF50;
    padding-bottom: 5px;
}

ul {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #E53935;
   
}